<div class="coupon-market">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5 padding-lr-0 margin-left-sm">
            <input type="text" class="form-control" :placeholder="vc.i18n('请输入优惠券名称', 'couponMarket')" @keyup.enter="_doSearch()" />
        </div>
        <div class="col-md-1 padding-lr-0 margin-left-sm">
            <button type="button" class="form-control btn btn-primary" @click="_doSearch()">
                <span>
                    <vc:i18n name="查询"></vc:i18n>
                </span>
            </button>
        </div>
    </div>
    <div class="row margin-top-xs margin-bottom-sm">
        <div class="col-md-3"></div>
        <div class="col-md-5 padding-lr-0 margin-left-sm">
            <a href="javascript:void(0)" @click="_querySupplierCoupon(item)" v-for="(item,index) in couponMarketInfo.suppliers">{{item.supplierName}}</a>
        </div>
    </div>
    <div class="vc-line"></div>
    <div class="row " style="margin:15px auto">
        <div v-for="(item,index) in couponMarketInfo.coupons" class="coupon margin padding-xs" :key="index">
            <!-- <img :src="item.url" class="border-radius"/> -->
            <img :src="couponMarketInfo.url" class="border-radius" />
            <div class="title padding-xs">
                <span>{{vc.i18n(item.name, 'couponMarket')}}</span>
            </div>
            <div class="row padding-xs">
                <div class="col-md-6">
                    {{vc.i18n('售价', 'couponMarket')}}：<span style="color: #ff0036">￥{{item.valuePrice}}</span>
                </div>
                <div class="col-md-6 text-right">
                    <a href="">{{vc.i18n('购买', 'couponMarket')}}</a>
                </div>
            </div>
        </div>
    </div>
    <div v-if="couponMarketInfo.records > 1">
        <vc:create path="frame/pagination"></vc:create>
    </div>
</div>