
<div class="layui-form-item">
    <div class="label-div"><label for="validateCode">驗證碼</label></div>
    <div class="input-wrapper code-input-wrapper" >
        <img class="left-icon" src='/img/login/validate-icon.png'>
        <input type="text" id="validateCode" lay-verify="required|code" maxlength="6" v-model="validateCode" :placeholder="vc.i18n('请输入验证码','validateCode')"
               autocomplete="off" class="dongmai-input" @keyup.enter="enterToLogin">

        <div class="code"><img v-bind:src="codeImage" border="0" style="cursor:pointer" alt="vc.i18n('點擊刷新驗證碼','validateCode')" width="118"
                               height="38" v-on:click="generateCode()"></div>
    </div>
</div>
