<div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>{{vc.i18n('查询条件', 'chainProduct')}}</h5>
                    <div class="ibox-tools" style="top:10px;">
                        
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <select class="custom-select" v-model="chainProductInfo.conditions.categoryId">
                                <option selected disabled value="">{{vc.i18n('请选择商品分组', 'chainProduct')}}</option>
                                <option v-for="(item,index) in chainProductInfo.productCategorys"
                                        :value="item.categoryId">{{item.categoryName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input type="text" placeholder="请输入商品名称" v-model="chainProductInfo.conditions.prodName"
                                       class=" form-control">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <select class="custom-select" v-model="chainProductInfo.conditions.state">
                                <option selected disabled value="">{{vc.i18n('请选择状态', 'chainProduct')}}</option>
                                <option v-for="(item,index) in chainProductInfo.states" :value="item.statusCd">
                                    {{vc.i18n(item.name, 'chainProduct')}}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_queryProductMethod()">
                                <i class="fa fa-search"></i> {{vc.i18n('查询', 'chainProduct')}}
                            </button>
                            <button type="button" class="btn btn-primary btn-sm" v-on:click="_resetProductMethod()">
                                <i class="fa fa-repeat"></i> {{vc.i18n('重置', 'chainProduct')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>{{vc.i18n('商品信息', 'chainProduct')}}</h5>
                    <div class="ibox-tools" style="top:10px;">
                        <button type="button" class="btn btn-white btn-sm" v-on:click="_goBack()">
                            {{vc.i18n('返回', 'chainProduct')}}
                         </button>
                        <button type="button" class="btn btn-primary btn-sm" v-on:click="_openAddProductModal()">
                            <i class="fa fa-plus"></i>{{vc.i18n('添加', 'chainProduct')}}
                        </button>
                        
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                        <thead>
                            <tr>
                                <th class="text-center">{{vc.i18n('商品ID', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('商品图片', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('商品分类', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('商品名称', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('商品单位', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('排序', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('状态', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('创建时间', 'chainProduct')}}</th>
                                <th class="text-center">{{vc.i18n('操作', 'chainProduct')}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="product in chainProductInfo.products">
                                <td class="text-center">{{product.productId}}</td>
                                <td class="text-center">
                                    <div style="position: relative; display: inline-block;">
                                        <img width="50" height="50" v-bind:src="product.coverPhoto"
                                             onerror="this.src='/img/noPhoto.jpg';">
                                    </div>
                                </td>
                                <td class="text-center">{{product.catalogName}}</td>
                                <td class="text-center">{{product.prodName}}</td>
                                <td class="text-center">{{product.unitName}}</td>
                                <td class="text-center">{{product.sort}}</td>
                                <td class="text-center">{{product.state == '2002'?'已上架':'未上架'}}</td>
                                <td class="text-center">{{product.createTime}}</td>
                                <td class="text-center">
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs"
                                                v-on:click="_openEditProductModel(product)">修改
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs"
                                                v-on:click="_openDeleteProductModel(product)">删除
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <ul class="pagination float-right"></ul>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!-- 分页 -->
                    <vc:create path="frame/pagination"></vc:create>
                </div>
            </div>
        </div>
    </div>
<!--     
    <vc:create path="goods/deleteProduct"></vc:create>
    <vc:create path="goods/addProductLabel"></vc:create> -->
</div>