<div class="margin-top">
    <div class="">
        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
                <tr>
                    <th class="text-center">
                        <vc:i18n name="类型" namespace="complaintDetailEvent"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="操作人" namespace="complaintDetailEvent"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="说明" namespace="complaintDetailEvent"></vc:i18n>
                    </th>
                    <th data-hide="phone" class="text-center">
                        <vc:i18n name="时间" namespace="complaintDetailEvent"></vc:i18n>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="event in complaintDetailEventInfo.events">
                    <td class="text-center" v-if="event.eventType == '1000'">
                        提交
                    </td>
                    <td class="text-center" v-else-if="event.eventType == '1001'">
                        投诉处理
                    </td>
                    <td class="text-center" v-else-if="event.eventType == '2002'">
                        评价
                    </td>
                    <td class="text-center" v-else>
                        评价回复
                    </td>
                    <td class="text-center">
                        {{event.createUserName}}
                    </td>
                    <td class="text-center">
                        {{event.remark}}
                    </td>
                    <td class="text-center">
                        {{event.createTime}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>